<div class="chunk-container-1-2">
    <div class="chunk-container-single-column">
        <div class="chunk-title">
            KPIs
        </div>
        <div class="card-kpi">
            <div>
                <div class="card-kpi-title">Plants</div>
                <div id="kpi-plant-count" class="card-kpi-metric">0</div>
                <div class="card-kpi-tagline">Total</div>
            </div>
            <div class="card-kpi-icon">
                <img src="assets/images/icons/kpi-plant-count.svg" alt="total">
            </div>
        </div>
        <div class="card-kpi">
            <div>
                <div class="card-kpi-title">Healthy</div>
                <div id="kpi-plant-healthy-perc" class="card-kpi-metric">0</div>
                <div class="card-kpi-tagline">of Total</div>
            </div>
            <div class="card-kpi-icon">
                <img src="assets/images/icons/kpi-plant-healthy.svg" alt="healthy">
            </div>
        </div>
        <div class="card-kpi">
            <div>
                <div class="card-kpi-title">Active Alerts</div>
                <div id="kpi-alerts-count" class="card-kpi-metric">0</div>
                <div class="card-kpi-tagline">Total</div>
            </div>
            <div class="card-kpi-icon">
                <img src="assets/images/icons/kpi-plant-attention.svg" alt="attention">
            </div>
        </div>
    </div>

    <div class="chunk-container-single-column">
        <div class="chunk-title">
            Alerts
        </div>
        <div class="card" style="height: 450px;">
            <div id="dashboard-alerts-list" class="chunk-container-single-column">
            </div>
        </div>
    </div>

</div>