<div class="card-kpi-container">
    <div class="card-kpi">
        <div>
            <div class="card-kpi-title">Plants</div>
            <div id="kpi-plant-count" class="card-kpi-metric">0</div>
            <div class="card-kpi-tagline">Total</div>
        </div>
        <div class="card-kpi-icon">
            <img src="assets/images/icons/kpi-plant-count.svg" alt="total">
        </div>
    </div>
    <div class="card-kpi">
        <div>
            <div class="card-kpi-title">Healthy</div>
            <div class="card-kpi-metric">0</div>
            <div class="card-kpi-tagline">of Total</div>
        </div>
        <div class="card-kpi-icon">
            <img src="assets/images/icons/kpi-plant-healthy.svg" alt="healthy">
        </div>
    </div>
    <div class="card-kpi">
        <div>
            <div class="card-kpi-title">Active Alerts</div>
            <div class="card-kpi-metric">0</div>
            <div class="card-kpi-tagline">Total</div>
        </div>
        <div class="card-kpi-icon">
            <img src="assets/images/icons/kpi-plant-attention.svg" alt="attention">
        </div>
    </div>
</div>

<!-- Table Title -->
<div class="chunk-title">
    Plant List
    <div class="card-title-btn">
        <button id="new-plant-btn" class="btn-small btn-add">
            NEW
        </button>
    </div>
</div>

<div id="plant-inventory-table" class="table">
    <div class="table-header">
        <div>Name</div>
        <div>Location</div>
        <div>Status</div>
        <div>Last Activity</div>
        <div></div>
    </div>
                
<!-- Add a container for rows -->
    <div id="plant-inventory-rows"></div>              
</div>