<!-- Title -->
<div class="chunk-title">
    Plant Detail
    <div class="card-title-btn">
        <button id="plant-detail-back-btn" class="btn-small btn-edit">
            BACK
        </button>
    </div>
</div>

<div class="chunk-container-1-2">
    <!-- Main Detail Section -->
     <div class="card">
        <div class="card-title">
            <h2>Characteristics</h1>
            <div class="card-title-btn">
                <button class="btn-small btn-add" onclick="showNewAddressForm()">
                EDIT
                </button>
            </div>
        </div>

        <h4>Plant Name</h4>
        <div id="plant-detail-name"></div>
        <br>
        <h4>Category</h4>
        <div id="plant-detail-category"></div>
        <br>
        <h4>Species</h4>
        <div id="plant-detail-species"></div>
        <br>
        <h4>Habitat</h4>
        <div id="plant-detail-habitat"></div>
    </div>

    <div section="card">
        <h3>Status History</h3>
        <div id="plant-detail-name"></div>
        <div id="plant-detail-category"></div>
        <div id="plant-detail-species"></div>
        <div id="plant-detail-habitat"></div>
    </div>
</div>