/* Main Content Area */
.main-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    height: 100vh;
}

/* View Container */
.content {
    flex: 1;
    overflow-y: auto;
    padding: var(--spacing-xxl);

}

.header {
    margin-bottom: var(--spacing-xl);
}

.header h1 {
    font-size: 2em;
    color: var(--text-primary);
    margin-bottom: var(--spacing-sm);
}

.header h2 {
    font-size: var(--font-size-title);
    color: var(--text-primary);
    margin-bottom: var(--spacing-sm);
}
v

.header p {
    color: var(--text-light);
    font-size: var(--font-size-lg);
}


