@import "./reset.css";
@import "./variables.css";
@import "./base.css";

@import "./components/hero.css";
@import "./components/buttons.css";
@import "./components/leaf.css";

@import "./pages/landing.css";
