/**
 * ALERTS
 * css for alert related elements
 */


/* Dashboard List Components */
.dash-alert-item {
    display: inline-flex;
    padding: 15px;
    background: var(--bg-primary);
    border-radius: var(--radius-sm);
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    transition: all var(--transition-fast);
}

.dash-alert-item:hover {
    transform: translateY(1px);
    box-shadow: 0 8px 20px rgba(216, 216, 216, 0.50);
}

.dash-alert-plant {
    display: flex;
    align-items: center;
    gap: 12px;
}

.dash-alert-plant-icon {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.dash-alert-plant-icon[severity="LOW"] {
    background: var(--success-accent);
}
.dash-alert-plant-icon[severity="MEDIUM"] {
    background: var(--warning-accent);
}
.dash-alert-plant-icon[severity="HIGH"] {
    background: var(--danger-accent);
}

.dash-alert-plant-info .name {
    font-weight: 500;
    font-size: 14px;
}

.dash-alert-plant-info .date {
    font-size: 12px;
    color: #666;
}

.dash-alert-badge {
    color: white;
    padding: 6px 14px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 500;
}

.dash-alert-badge[alert-label="WATERING"] {
    background: #47bbff;
}
